<% provide(:title, '拠点一覧') %>

<h1>拠点一覧</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <table class="table table-bordered working-table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>拠点番号</th>
                <th>拠点名</th>
                <th>勤怠種類</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>編集(ボタン)</td>
                <td>削除(ボタン)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            
        </tbody>
    </table>
    <%= "拠点情報の追加（ボタン）" %>
  </div>
</div>