<% provide(:title, '出勤中社員一覧') %>
<% #provide(:path, users_working_users_path) %>
<h1>出勤中社員一覧</h1>

<%= will_paginate %>

<ul class="users">
  <%= render partial:'users/working_index', locals: { users: @users } %>
</ul>

<%= will_paginate %>